.DEV2
{
    color: white;
    margin-left: 20%;
    margin-top: 20%;
}
.DEV2 h1
{
    color: yellow;
}
.DEV1 h1
{
    color: blue;
}
.DEV3 h3
{ display: inline;
    color: yellow;
    margin-left: 2%; 
}
.DEV3
{
    margin-top: 10%;
   margin-left: 15%; 
   color: white;
}
.dev4
{ 
  
   
  margin-right: 4%;
     color: aliceblue;
     width: 28%;
     height: 30%;
     background-color:#201f1f;
     float:right;
}
.dev41
{ 
  
    margin-left: 4%;
     color: aliceblue;
     width: 28%;
     height:30%;
     background-color: rgb(227, 55, 20);
   
    
     float: left;30
}
.dev42
{
 

     color: aliceblue;
     width:28%;
     height:30%;
     background-color:#1a2dbc;
     margin: 0 auto;
   
    
}
h3
{margin-top: 0.3CM;
    margin-left: 0.5cm;
    background-color: black ;
border-radius: 25px;
width: 1cm;}
.dev5
{
    color: aliceblue;
    width: 50%;
    height: 90%;
    
    float:right;
}
.dev6
{
    color: aliceblue;
    width: 50%;
    height: 90%;
   
    float:right;
}
.dev6 h4
{
    display: inline;
    margin-left: 10px;
    
}
.dev6 img
{
  margin-bottom: -5px;
    margin-left: 50px;
    
}
.dev5 form
{

    margin-left: 50px;
    
}